@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/Wood.jpg);
  background-size: 200%;
  font-family: "Lato", sans-serif;
}

.container {
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.header {
  width: 100%;
  background: #e3a28e;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  line-height: 50px;
  color: blue;
}

@media screen and (max-width: 700px) {
  body {
    background: black;
  }

  .alert {
    height: 80vw;
    font-size: 30px;
    background: red;
    color: white;
    text-align: center;
    margin-top: 15vh;
    /* min-width: 80vw; */
  }

  .img_alert, .message_alert, .img_landscape {
    margin-top: 40px;
  }

  img {
    width: 15vw;
  }

  .game_platform {
    display: none;
  }
}
@media screen and (min-width: 701px) {
  .alert {
    display: none;
  }

  h1 {
    font-size: 35px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 10fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-areas: "header" "game_platform";
    max-width: 1400px;
  }

  .header {
    justify-self: center;
    grid-area: header;
  }

  .game_platform {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-rows: 0.8fr 1fr 1.2fr;
    grid-template-areas: "player_one_control control_panel player_two_control" "player_one_control control_panel player_two_control" "player_one_control control_panel player_two_control";
    justify-self: stretch;
    grid-area: game_platform;
    background: linear-gradient(90deg, #cdc2c2 50%, white 50%);
    margin-top: 10px;
    padding: 10px;
  }

  /* Bandeau central*/
  .control_panel {
    grid-template-areas: "new_game" "dice" "btn_play_control";
    grid-area: control_panel;
  }
  .control_panel button {
    text-transform: uppercase;
    background: none;
    border: none;
    font-size: 25px;
  }
  .control_panel i {
    font-size: 25px;
    color: red;
  }

  svg {
    width: 2vw;
  }

  .new_game {
    justify-self: center;
    align-self: start;
    transform: translateY(30px);
    grid-area: new_game;
  }

  .dice {
    grid-area: dice;
    justify-self: center;
  }

  img {
    width: 180px;
  }

  .btn_play_control {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "roll" "hold";
    justify-self: center;
    grid-area: btn_play_control;
  }

  #btn-roll {
    grid-area: roll;
    align-self: end;
    padding-bottom: 20px;
  }

  #btn-hold {
    grid-area: hold;
    align-self: start;
    padding-top: 20px;
  }

  /* PLAYER*/
  .active .player_name::after {
    content: "•";
    font-size: 47px;
    position: relative;
    color: #EB4D4D;
    left: 15px;
  }

  .player_one_control, .player_two_control, .control_panel {
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .player_one_control, .player_two_control {
    justify-self: center;
  }

  .player_one_control {
    grid-template-areas: "player_name" "player_score" "player_current_box";
    grid-area: player_one_control;
  }

  .player_two_control {
    grid-template-areas: "player_name" "player_score" "player_current_box";
    grid-area: player_two_control;
  }

  .player_name {
    justify-self: center;
    align-self: end;
    font-size: 60px;
    text-transform: uppercase;
  }

  .player_score {
    font-size: 8vw;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    align-self: flex-start;
    justify-self: center;
  }

  .player_current_box {
    align-self: center;
    justify-self: center;
    background: rgba(255, 0, 0, 0.617);
    height: 80px;
    width: 120px;
  }

  .current_label {
    grid-area: current_label;
    text-align: center;
    text-transform: capitalize;
  }

  .current_score1 {
    grid-area: current_score1;
  }

  .current_score2 {
    grid-area: current_score2;
  }

  .current_score1, .current_score2 {
    font-size: 25px;
    color: white;
    padding-top: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .player_name {
    font-size: 40px;
  }

  .score1, .score2 {
    font-size: 60px;
  }

  .current_label {
    font-size: 16px;
  }

  .current_score1, .current_score2 {
    font-size: 20px;
  }

  .control_panel button {
    font-size: 15px;
  }
  .control_panel i {
    font-size: 15px;
  }
  .control_panel img {
    width: 85px;
  }
}

/*# sourceMappingURL=style.css.map */
